*, .grid {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Verdana,"Hiragino Kaku Gothic Pro","Meiryo","MS PGothic", sans-serif;
  font-size: 14px;
}

div[class*="col"] {
  margin: 0;
  padding: 0;
}

div[class*="grid"] {
  margin: 0;
  padding: 0;
}

html, a, li, ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

i {
  font-size: 24px;
  color: #5c4532;
}

li {
  list-style: none;
}

.arrow {
  position: relative;
}

.arrow::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 16px;
  background: url(.././images/arrow.png) no-repeat;
  background-size: contain;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
}

.bnr {
  text-align: center;
  margin-bottom: 8px;
}

.bnr img {
  max-width: 320px;
  height: auto;
}

.container {
  width: auto;
  margin: 0 auto;
}

.contents-title {
  margin: auto;
}

.contents-title h2 {
  color: #541300;
  font-size: 28px;
  font-weight: normal;
  font-family: Cambria, Georgia, serif;
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.header-top {
  height: 56px;
}

.header-logo img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px 10px 0 10px;
  max-width: 165px;
}

.nav-item {
  text-align: center;
  border-top: 1px solid #DBCAC5;
  border-left: 1px solid #DBCAC5;
}

.nav-item:first-child {
  border-left: none;
}

.nav-item a {
  color: #541300;
  font-family: Cambria, Georgia, serif;
  font-size: 2.5vw;
  display: block;
  line-height: 50px;
}

.nav-list {
  height: 50px;
}

.news-article::before {
  content: url(../images/arrow2.png);
  position: absolute;
}

.news-item {
  border-top: 1px solid white;
}

.news-item a {
  color: #541300;
  margin-left: 20px;
}

.news-item li {
  color: #541300;
  padding: 0 0 10px;
}

.news-item li:first-child {
  padding: 10px 0;
}

.news-item span {
  font-weight: bold;
}

.news-table {
  margin: 0 auto;
}

.news-table a {
  display: block;
  font-size: 12px;
  width: 62%;
  margin: 17px auto 17px auto;
  border: 1px solid #cec2c2;
  text-align: center;
  font-weight: bold;
  line-height: 2.4;
  background: #fff;
}

.news-wrapper {
  background-color: #f8f4e7;
  font-size: 14px;
  font-weight: 200;
}

.news-new {
  position: relative;
}

.news-new::after {
  content: "NEW";
  position: absolute;
  top: 3px;
  left: 88px;
  color: white;
  background-color: #ba1313;
  border-radius: 50%;
  font-size: 8px;
  text-align: center;
  line-height: 3;
  height: 28px;
  width: 28px;
}

.news-list {
  width: 100%;
  margin: 0 0.8rem;
}

.slide {
  height: 270px;
  position: relative;
}

.slide img {
  width: 100%;
  max-width: 817px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  width: 149px;
  height: auto;
}

@media (min-width: 48rem) {
  .nav-item a {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */